---
import appleTouchIcon from '../assets/apple-touch-icon-180x180.png';
import icon192 from '../assets/icon-192x192.png';
import "../styles/global.css";
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<meta name="generator" content={Astro.generator} />
		<title>yude.jp</title>
		<link rel="apple-touch-icon" type="image/png" href={appleTouchIcon.src}>
		<link rel="icon" type="image/png" href={icon192.src}>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Asset&display=swap&text=yude" rel="stylesheet">
		<meta property="og:title" content="yude のページ">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://www.yude.jp/">
		<meta property="og:image" content={icon192.src}>
		<meta property="og:site_name" content="yude.jp">
		<meta property="og:locale" content="ja_JP">
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin-inline: auto;
		min-width: 320px;
		font-family: sans-serif;
	}
</style>
